@charset "UTF-8";
@import url('/styles/reset.css');

nav {
  background-color: var(--azul-esc);
  height: 5vh;
  list-style-type: none;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav > a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 10px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  transition: transform 0.3s ease-in-out;

}
nav > a:hover {
  text-decoration: underline;
  transform: scale(1.1);
}

#container {
  height: 95vh;
  display: flex;
  background-color: var(--cinza);
  justify-content: s;
}

.text {
  background-color: var(--cinza);
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  margin-bottom: 30%;
}

.text > h1 {
  color: var(--azul-esc);
  font-weight: bolder;
  font-size: 2.5em;
}

.form {
  background-color: var(--cinza);
  display: flex;
  justify-content: center;
  flex-grow: 2;
}

.plano {
  background-color: var(--azul-clr);
  display: flex;
  flex-grow: 1;
}

 footer {
  height: 15vh;
  width: 100%;
  background-color: #242323;
 }
 

/*Pagina de finalização*/

 body {
  text-align: center;
  padding: 40px 0;
}
  h1 {
    color: #88B04B;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 10px;
  }
  p {
    color: #404F5E;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-size:20px;
    margin: 0;
  }
i {
  color: #9ABC66;
  font-size: 100px;
  line-height: 200px;
  margin-left:-15px;
}
.card {
  background: white;
  padding: 60px;
  border-radius: 4px;
  box-shadow: 0 2px 3px #ffffff;
  display: inline-block;
  margin: 0 auto;
}
