@charset "UTF-8";
@import url('/styles/reset.css');

nav {
  background-color: var(--azul-esc);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

main {
  display: flex;
}

#container {
  height: 95vh;
  display: flex;
  background-color: var(--cinza);
}
/* START PRIMEIRA DIV */
.text {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.text > h1 {
  margin-bottom: 200px;
  font-weight: bolder;
  font-size: 2.5em;
  color: var(--azul-esc);
  padding: 10px;
}
/* END PRIMEIRA DIV */


.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-grow: 2;
}
form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 30px;
  margin-bottom: 150px;
  
}
.form-campo input[type="text"], .form-campo input[type="email"], .form-campo input[type="tel"] {
  padding: 0.4em;
  border: 1px solid #F6aeb3;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  background-color: #cecece93;
}
.form-campo input:focus {
  background-color: #E0E0F8;
}

.form-campo label {
  margin-bottom: 0.2em;
  display: block;
}

fieldset.grupo .form-campo {
  float: left;
  margin-right: 2em;
}

.input-text {
  width: 335px;
}

.input-grupo {
  width: 150px;
  margin-bottom: 50px;
}
.botao {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2rem;
  gap: 5px;
}

.botao button {
  width: 100px;
  text-transform: uppercase;
  padding: 0.3rem 0.3rem;
  background-color: var(--amarelo);
  font-weight: bolder;
  font-size: 0.8em;
  color: var(--azul-esc);
}

.botao-ajuda {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}

.botao-ajuda button {
  width: 100px;
  padding: 0.2rem 0.3rem;
  background-color: var(--azul-esc);
  color: white;
  text-align: center;
}

.plano-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  background-color: var(--azul-clr);
}

 footer {
  height: 15vh;
  width: 100%;
  background-color: #242323;
}
