* {
    --gradient-effect: linear-gradient(to left, #001f54, #56396f, #945a86, #cb819c, #fcaeb3);
    --bg-color: #d8d8e0;
}

body {
    background-color: var(--bg-color);
}

body.dark {
    --bg-color: #000;
}

/*..................navbar...................*/

nav {
    background-color: #fff;
}

/* ...................carousel...................*/
.carousel {
    height: 90vh;
    width: 100%;
    background: var(--gradient-effect);
    background-size: 400% 400%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    animation: backgroundTransition 8s ease-in-out infinite;
}

.custom-shape-divider-bottom-1669508591 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1669508591 svg {
    position: relative;
    display: block;
    width: calc(165% + 1.3px);
    height: 164px;
}

.custom-shape-divider-bottom-1669508591 .shape-fill {
    fill: var(--bg-color);
}

@keyframes backgroundTransition {
    0% {
        background-position: 0% 80%;
    }

    50% {
        background-position: 80% 100%;
    }

    100% {
        background-position: 0% 90%;
    }
}

/* ...................como funciona?...................*/
.title,
.how {
    text-align: center;
}

.how {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.card-glass {
    display: flex;
    justify-content: center;
    align-items: center;
}

.glass-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.53);
    transition: 0.5s;
    height: 60vh;
    width: 90vw;
    padding-bottom: 5rem;
    margin-bottom: 8rem;
    margin-top: 6rem;
}

.title {
    font-weight: bold;
    margin-bottom: 2rem;
}

.paragraph {
    width: 70vw;
}

.wht {
    margin-top: 3rem;
}

.como {
    margin-top: 3rem;
}

.steps {
    display: flex;
    align-items: center;
    grid-column-gap: 3rem;
    flex-direction: row;

}

.step {}

.butao {
    margin-top: 4rem;
    width: 10rem;
}

/*.................Plans.................*/

.fundo {
    padding: 0 25px 25px;
    position: relative;
    width: 100%;
}

.fundo::after {
    content: '';
    background: #60a9ff;
    background: -moz-linear-gradient(top, #60a9ff 0%, #4394f4 100%);
    background: -webkit-linear-gradient(top, #60a9ff 0%, #4394f4 100%);
    background: linear-gradient(to bottom, #60a9ff 0%, #4394f4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#60a9ff', endColorstr='#4394f4', GradientType=0);
    height: 350px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

@media (min-width: 900px) {
    .background {
      padding: 0 0 25px;
    }
    .planos {
        flex-direction: row;
      }

      .plano{
        border-bottom: none;
        border-right: 1px solid #e1f1ff;
        flex-basis: 100%;
        padding: 25px 50px;
      }

      .plano:last-child {
        border-right: none;
      }
  }
  

  .containers {
    margin: 0 auto;
    padding: 50px 0 0;
    max-width: 960px;
    width: 100%;
  }

  .planos{
    background-color: var(--bg-color);
    border-radius: 10px;
    padding: 15px 25px;
    position: relative;
    height: 70vh;
    width: 100%;
    z-index: 10;
    box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);
    display: flex;
    flex-direction: row;
  }

  .planos *{
    text-align: center;
    text-transform: uppercase;
  }

  .plano{
    border-bottom: 1px solid #e1f1ff;
    padding: 25px;
    text-align: center;
  }

  .plano:last-child{
    border-bottom: none;
  }

  .title-preco{
    color: #888;
    font-weight: 600;
    letter-spacing: 1px;
  }

  .preco{
    color: #016FF9;
    display: block;
    font-size: 32px;
    font-weight: 700;
  }